 .name_in_header{
  color: white;
  padding-right: 15px;
 }
 .nah{
  margin-top: 65px;
 }
 .btn_registr{
 	margin-left: 15px;
 }
.regist{
 	width: 50% !important;
 }
 .registr_form{
 	padding-top: 85px;
 	padding-left: 12%;
 }
 .registr_form h2{
 	text-align: center;
 	padding-bottom: 10px;
 	padding-right: 15%;
 }
